<div>

  <div class="row" ng-if="itemsCtrl.nothingFound()==='show List'">
    <div class="col-sm-2 alert alert-info text-uppercase text-center">
      <strong>NAME</strong>
    </div>
    <div class="col-sm-2 alert alert-info text-uppercase text-center">
      <strong>Short name</strong>
    </div>
    <div class="col-sm-8 alert alert-info text-uppercase text-center">
      <strong>description</strong>
    </div>
  </div>

  <div class="row" ng-repeat="item in itemsCtrl.items">

        <div class="col-sm-2">{{item.name}}</div>
        <div class="col-sm-2">{{item.short_name}}</div>
        <div class="col-sm-6">{{item.description}}</div>
        <button class="col-sm-2" ng-click="itemsCtrl.onRemove({index: $index})">Don't want this one!</button>
  </div>
</div>
<div class="alert alert-warning" ng-if="itemsCtrl.nothingFound()==='error'">
  Nothing found
</div>
