html {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12pt;
}
h1 {
	text-align: center;
	font-size: 1.75em;
}


footer {
	line-height: 80px;
}
footer a {
	text-decoration: none;
	color: inherit;
}